.intro h1 {
  overflow: hidden;
  /* border-right: 2px solid #2a6f6c; */
  white-space: nowrap;
  animation: typing 2s steps(20) 1s forwards;
  width: 0;
  transition: 1s ease;
}
.intro h1 span {
  display: block;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
